name: docs

on:
  push:
    branches:
      - develop
      - main
  workflow_dispatch:

permissions:
  contents: read
  pages: write
  id-token: write

concurrency:
  group: "pages"
  cancel-in-progress: false

jobs:
  docs:
    runs-on: ubuntu-latest
    env:
      GITHUB_PAT: ${{ secrets.GITHUB_TOKEN }}
    steps:
      - name: Checkout repository
        uses: actions/checkout@v6
      
      - name: Setup R
        uses: r-lib/actions/setup-r@v2
        with:
          r-version: 4.5
          use-public-rspm: true

      - name: Setup pandoc
        uses: r-lib/actions/setup-pandoc@v2

      - name: Install linux dependencies
        run: |
          sudo apt-get update
          sudo apt-get install -y libfreetype6-dev libcurl4-openssl-dev libssl-dev libxml2-dev libnlopt-dev

      - name: Install R dependencies
        uses: r-lib/actions/setup-r-dependencies@v2
        with:
          cache-version: 2
          extra-packages: any::pkgdown, any::quarto, local::.
          needs: website

      - name: Setup TinyTeX
        uses: r-lib/actions/setup-tinytex@v2
        if: contains(needs, 'latex')

      - name: Setup Quarto
        uses: quarto-dev/quarto-actions/setup@v2
        with:
          version: 1.8.26

      - name: Build pkgdown site
        run: |
          pkgdown::build_site_github_pages(
              new_process = FALSE, 
              install = FALSE
          )
        shell: Rscript {0}

      - name: Upload Pages artifact
        uses: actions/upload-pages-artifact@v4
        with:
          path: docs

      - name: Deploy to GitHub Pages
        uses: actions/deploy-pages@v4
